ART-ART Review from Russ Housley

Document: draft-ietf-oauth-identity-chaining
Title: OAuth Identity and Authorization Chaining Across Domains
Reviewer: Russ Housley
Review result: Ready

I am the assigned ART-ART reviewer for this draft. Please treat these
comments just like any other last call comments.


Document: draft-ietf-oauth-identity-chaining-10
Reviewer: Russ Housley
Review Date: 2026-04-29
IETF LC End Date: 2026-05-11
IESG Telechat date: unknown

Summary: Ready


Major Concerns: None


Minor Concerns:

Section 2.1, Step 3:  There is a parenthetical that defines "federation".
This seems like an odd place for a definition.  In my view, this definition
belongs in the Introduction.

Section 2.4.2, 3rd bullet: It would be more clear the the parenthetical
became a sentence of its own.

Section 6: Following "relevant to this specification:" I expected a list.
Maybe this can be reworded to match two paragraphs that follow.


Nits:

Section 2.1, Step 3: s/it's/its/

Section 2.3: s/section 1.3/Section 1.3/

Section 2.3.1: s/section 2.1/Section 2.1/

Section 2.3.3: s/section 2.2/Section 2.2/

Section 2.4.2: s/Section 3 [RFC7523]/Section 3 of [RFC7523]/

Section 2.5, 1st bullet: s/To support this both/To support this, both/

Appendix A: s/This sections outlines/This appendix outlines/

Appendix B: s/This section contains/This appendix contains/

The mention of federation was not meant as a definition, more as guidance for readers familair with federation concepts. 

Option 1: Delete the reference to federation
Option 2: clarify that federation is a mechanism for establishing trust between trust domains (still feels like we might be breaking into jail).

Option 1 may be the cleanest (see https://github.com/oauth-wg/oauth-identity-chaining/pull/187)